@font-face {
  font-family: 'Deemo';
  src:url('res/fonts/FANTIQUE.ttf')
}

*{
  margin: 0;
  padding: 0;
}

html{
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 18px;
}

body{
  width: 100vw;
  margin: 0;
  padding: 0;
  background-color: white;
}

h1, a{
  font-family: 'Deemo';
  color: white;
  font-size: 60px;
}
h1{
  -webkit-text-stroke: 1px black;
}

a{
  cursor: pointer;
  color: white;
  font-size: 30px;
  transition: text-shadow 0.25s linear;
  -webkit-text-stroke: 0.75px black;
  text-decoration: none;
}
a:hover{
  text-shadow: 0px 0px 20px #efb931;
  transition: text-shadow 0.25s linear;
}

h3{
    color: white;
}
.heroImage{
  width: 75%;
  opacity: 0;
}
img{
  max-width: 100%;
}

.imageContainer{
}

.heroImage.triggered{
  transition: opacity 2s ease-out;
  opacity: 1;
  animation: float 10s infinite;
  animation-timing-function: ease;
}

.heroTitle{
  position: absolute;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
}
.navbar{
  z-index: 2;
  position: absolute;
  display: flex;
  height: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.innerNavbar{
  z-index: 2;
  position: sticky;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding-left: 20%;
  padding-right: 20%;
  background-color: white;
  box-shadow: 0px -70px 80px #efb931;
}
.wrapper{
  width: 100%;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}
.textWrapper{
  display: flex;
  flex-direction: column;
  padding-left: 15vw;
  padding-top: 2vh;
  justify-content: center;
  width: 35vw;
  height: 85vh;
  line-height: 1.5;
}
.imageWrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 7.5vw;
  padding-left: 7.5vw;
  padding-top: 2vh;
  width: 35vw;
  height: 85vh;
  line-height: 1.5;
}

.hero{
  display: flex;
  justify-content: center;
  align-items: center;
}

.ml6 {
  position: relative;
  font-weight: 900;
  font-size: 3.3em;
}

.ml6 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml6 .letter {
  display: inline-block;
  line-height: 1em;
}

.button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: white;
  border-radius: 2px;
    transition: all 0.25s linear;
}
.button:hover{
  cursor: pointer;
  transition: all 0.25s linear;
  background-color: white;
}
.button:hover > h3{
  transition: all 0.25s linear;
  color: black;
}

@keyframes float{
  0%{
    transform: translateY(20px);
  }
  50%{
    transform: translateY(0px);
  }
  100%{
    transform: translateY(20px);
  }
}
