@font-face {
  font-family: Lora;
  src: url('Lora.ttf');
  font-weight: regular;
}

html, body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f1f1f1;
}

.wrapper{
  display: flex;
  width: 100vw;
  height: 70vh;
}

.hero{
  position: absolute;
  z-index: 3;

}

.center{
  justify-content: center;
  align-items: flex-end;

}
.long-container{
  position: absolute;
  display: flex;
  width: 30vw;
  height: 100vh;
  padding-left: 10vw;
  flex-direction: column;
  justify-content: center;
}
.container{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20vh;
  width: 100vw;
  height: 80vh;
}

.button{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 5px 15px 5px 15px;
  border-radius: 5px 5px 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #242424;
  color: #242424;
  transition: color 0.2s linear, background-color 0.2s linear;
}
.button:hover{
  background-color: #242424;
  color: white;
}

canvas{
  z-index: 1;
}

a{
  text-decoration: none;
}

p{
    font-family: Lora;
    font-size: 16px;
    font-weight: regular;
    color: black;
}

h1{
  font-family: Lora;
  font-size: 48px;
  font-weight: lighter;
  color: #242424;
  margin: 10px 0px 10px 0px;
}

#intro-2, #intro-1{
  transition: opacity 2s ease-in;
}
#intro-2{
  opacity: 0;

}
#delay-1, #delay-2{
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 1.25s ease-in, transform 1.25s ease-in;
}

#logo{
  width: 100px;
  height: 100px;
}
